<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tree menu</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen"/>
</head>
<body>
<section>
    <ul id="myUL">
        <li th:replace="menuFragment :: nestedMenu (menuItemsList=${rootMenuList})"></li>
    </ul>
    <script>
        const toggles = document.querySelectorAll(".arrow");

        for (let i = 0; i < toggles.length; i++) {
            toggles[i].addEventListener("click", function () {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("arrow-down");
            });
        }
    </script>
</section>
</body>
</html>